*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 20%);
}
body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}
.heading{
    text-align: center;
    margin: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid hsl(var(--hue), 100%, 40%);
    color: hsl(var(--hue), 100%, 20%);
}
.container{
    width: 500px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px ;
}
#question{
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.btn{
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px 10px;
    color: #fff;
    outline: navy;
    cursor: pointer;
    padding: 10px;
    font-size: 1em;
}
.btn:hover{
    border-color: #000;
}
.btn.correct{
    --hue: var(--hue-correct);
    color: #000;
}
.btn.wrong{
    --hue: var(--hue-wrong);
}
.start-btn,
.next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
   

}
footer a{
    color: #fff;
    font-family: sans-serif;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1em;
}
@media screen and (max-width:600px) {
    .btn-grid{
        
        grid-template-columns: auto;
        gap: 10px;
        margin: 20px;
    }
}